! Rofi Customizations
rofi.columns: 4
rofi.color-enabled: true

! Property Name    BG       Border   Separator
rofi.color-window: #282828, #282828, #181818

! Property Name    BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal: #282828, #d8d8d8, #282828, #282828, #f8f8f8
rofi.color-active: #282828, #7cafc2, #282828, #282828, #7cafc2
rofi.color-urgent: #282828, #ab4642, #282828, #282828, #ab4642

rofi.separator-style: solid
rofi.location: 0
rofi.fullscreen: false
rofi.width: 65
rofi.opacity: 50
rofi.padding: 20
rofi.yoffset: 0
rofi.xoffset: 0
rofi.fixed-num-lines: true
rofi.ssh-set-title: true
rofi.terminal: termite
